/*input[name='1'][disabled]{
    float: left;
    width: 100%;
    border: solid 1px black;
}
input[type="button"][name='1']{
   float: left;
    background-color: cadetblue;
    width: 30%;
}

input[type="button"][name='2']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}

input[type="button"][name='3']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}

input[type="button"][name='+']{
    float: inherit;
    width: 9.5%;
    background-color: slateblue;
    margin-left: 0.5%;
}
input[type="button"][name='4']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}
input[type="button"][name='5']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}
input[type="button"][name='6']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}
input[type="button"][name='-']{
    float: inherit;
    width: 9.5%;
    background-color: slateblue;
    margin-left: 0.5%;
}
input[type="button"][name='7']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}
input[type="button"][name='8']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}
input[type="button"][name='9']{
    float: left;
    width: 30%;
    background-color: cadetblue;
}
input[type="button"][name='*']{
    float: inherit;
    width: 9.5%;
    background-color: slateblue;
    margin-left: 0.5%;
}
input[type="button"][name='0']{
    float: left;
    width: 90%;
    background-color: cadetblue;
}
input[type="button"][name='/']{
    float: inherit;
    width: 9.5%;
    background-color: slateblue;
    margin-left: 0.5%;
}
input[type="button"][name='=']{
    float: left;
    width: 100%;
    background-color: slateblue;
    margin-top: 0.5%;
}*/
.header *{
    float: left;
    width: 100%;
    padding: 0%;
    margin-bottom: 0.5%;
    text-align: right;
    background-color: #e8e8df;
    font-size: 1em;
    border-color: black;
    height: 4em;
}
.numberFields *{
    float: left;
    width: 30%;
    background-color: #859c87;
}

.numberFields [name='0']{
    width: 90%;
 }

.operations * {
    float: inherit;
    width: 9.5%;
    background-color: #9b8399;
    margin-left: 0.5%;
}
.sum * {
    float: left;
    width: 100%;
    background-color: #9b8399;
    margin-top: 0.5%;
}
input[type="button"]{
  height: 4em;
  font-size: 1em;
  border-color: black;
}